h1{
    font-size:50px;
    font-style: normal;
    color:aquamarine;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color:black;
}
nav{
    background-color:white;
    margin: auto;
    padding:10px;
    float:right;
    display: flex;
    gap:20px;
}
nav a:hover{
    background-color:rgb(231, 184, 227);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p1{
    font-size: 35px;
    font-style: normal;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
img{
    width: 200px;
    height: 250px;
}
iframe{
    display:flexbox ;
    margin:auto
}