h1 {
    font-style: italic;
    font-size:50px;
    color: rgb(240, 182, 115);
    text-align: left;
    margin: auto;
    padding:0.5px;  
   
}
body {
    background-color:black;
    background-size: cover;

}
p1 {
    font-size: 35px;
    font-style: normal;
    color:aquamarine;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
nav{
    background-color:rgb(255, 195, 127);
    margin-left: auto;
    margin-bottom: auto;
    padding: 30px;
    gap:20px;
}
nav a:hover{
    background-color:rgb(231, 184, 227);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    width:300px;
    height: 400px;
}
iframe{
    display: flexbox;
    margin: auto;
}
body {
  background-color: black;
  color: white;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.stepper {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 40px;
}

.step {
  font-size: 28px;
  font-weight: 700;
  position: relative;
  padding-bottom: 12px;
}

.step::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 180px;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
}

.arrow {
  font-size: 28px;
  opacity: 0.9;
}
.top{
    background-color:rgb(255, 195, 127);
    height: 200px;
    align-items: center;
    padding-left: 100px;
    display: flex;

}
.logo{
  height: 200px;
  width: 200px;
  float:left;
}
h2{
  font-size: 30px;
}